@font-face {
    font-family: 'Raleway';
    src: url('./packages/Raleway/static/Raleway-Regular.ttf')
        format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Raleway-Italic';
    src: url('./packages/Raleway/static/Raleway-Italic.ttf')
        format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'Raleway-Light';
    src: url('./packages/Raleway/static/Raleway-Light.ttf')
        format('truetype');
    font-style: light;
}

@font-face {
    font-family: 'Raleway-Bold';
    src: url('./packages/Raleway/static/Raleway-Bold.ttf')
        format('truetype');
    font-weight: bold;
}